*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#3b82f6,#6366f1);

height:100vh;

overflow:hidden;

}

.screen{

display:none;

justify-content:center;

align-items:center;

height:100vh;

padding:20px;

}

.active{

display:flex;

animation:fade .5s;

}

@keyframes fade{

from{

opacity:0;
transform:translateX(30px);

}

to{

opacity:1;
transform:translateX(0);

}

}

.card,
.calculator-card{

background:white;

width:900px;

max-width:95%;

padding:35px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.2);

}

h1,h2{

text-align:center;

margin-bottom:20px;

}

.progress{

display:flex;

justify-content:center;

align-items:center;

margin:25px 0;

}

.progress div{

width:40px;
height:40px;

border-radius:50%;

background:#d1d5db;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

}

.active-step{

background:#2563eb !important;

color:white;

}

.line{

width:80px !important;

height:5px !important;

border-radius:20px !important;

background:#2563eb !important;

}

.formula{

background:#eef4ff;

padding:15px;

border-radius:10px;

text-align:center;

margin-bottom:25px;

font-weight:bold;

}

.subject{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:15px;

margin-bottom:20px;

}

.subject input,
.subject select{

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}

button{

padding:12px 25px;

border:none;

cursor:pointer;

border-radius:10px;

background:#2563eb;

color:white;

font-size:16px;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}

.buttons{

margin-top:20px;

display:flex;

justify-content:space-between;

}